# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
.terraform.lock.hcl.bak

# Secrets & credentials
*.pem
*.key
.env
.envrc
credentials

# macOS
.DS_Store
